.btn {
    text-decoration: none;
    background-image: linear-gradient(#75FF7C, #E72282);
    padding: 2em 3em;
    display: flex;
    align-items: center;
}

.btn svg {
    margin-right: 1em;
    color: #fff;
}

.btn span {
    color: #fff;
    font-size: 1.2em;
}