.header {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    height: auto;
}

.navigation {
    background-color: aqua;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.navigation ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.3em;
}

.navigation ul a {
    text-decoration: none;
}

.open_menu {
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open_menu svg {
    font-size: 3em;
}